
<div *ngIf="bicicleta">
    <h2><span>Bicicleta</span> {{bicicleta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Pret</span></dt>
        <dd>
            <span>{{bicicleta.pret}}</span>
        </dd>
        <dt><span>Data Inchiriere</span></dt>
        <dd>
            <span>{{bicicleta.data_inchiriere | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Timp Inchiriere</span></dt>
        <dd>
            <span>{{bicicleta.timp_inchiriere}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{bicicleta.status}}</span>
        </dd>
        <dt><span>Cnp Renter</span></dt>
        <dd>
            <span>{{bicicleta.cnp_renter}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bicicleta/'+ bicicleta.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
