
<div *ngIf="ordin">
    <h2><span>Ordin</span> {{ordin.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Serie User</span></dt>
        <dd>
            <span>{{ordin.serie_user}}</span>
        </dd>
        <dt><span>Data Inchiriere</span></dt>
        <dd>
            <span>{{ordin.data_inchiriere | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Id Bike</span></dt>
        <dd>
            <span>{{ordin.id_bike}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ordin/'+ ordin.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
